@font-face {
  font-family: "iconfont"; /* Project id 4188549 */
  src: url('iconfont.woff2?t=1690598933508') format('woff2'),
       url('iconfont.woff?t=1690598933508') format('woff'),
       url('iconfont.ttf?t=1690598933508') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before {
  content: "\e623";
}

.icon-wenzhangguanli:before {
  content: "\e67c";
}

.icon-shouye-shouye:before {
  content: "\e610";
}

.icon-gerenzhongxin:before {
  content: "\e63c";
}

